﻿@using CFY_Exam;
@model CFY_Exam.Models.GroupPrivilige;

<!DOCTYPE html>
<html lang="en">
<head>

    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <h2>Relate Groups with Priviliges</h2>
               
                <div style="border:solid">
                    @using (Html.BeginForm("CreateGroupPrivilige", "GroupPrivilige", FormMethod.Post))
                    {
                        <b>Select User Groups</b>
                        <select asp-items="@ViewBag.UserGroupsId" multiple="multiple" asp-for="UserGroupId" class="form-control"></select>
                        <b>Select Priviliges</b>
                        <select asp-items="@ViewBag.PrivilegesId" multiple="multiple" asp-for="PriviligesId" class="form-control"></select>
                        <input type="submit" value="Submit" class="btn btn-primary">



                    }
                </div>


                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/jquery/jquery-3.2.1.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/animsition/js/animsition.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/bootstrap/js/popper.js"></script>
                <script src="~/lib/Login1/vendor/bootstrap/js/bootstrap.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/select2/select2.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/daterangepicker/moment.min.js"></script>
                <script src="~/lib/Login1/vendor/daterangepicker/daterangepicker.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/countdowntime/countdowntime.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/js/main.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
