﻿@model IEnumerable<CFY_Exam.Models.GroupPrivilige>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriviligesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGroupId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriviligesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroupId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupPriviligeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupPriviligeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupPriviligeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
