﻿@using CFY_Exam;
@model CFY_Exam.Models.GroupPrivilige;
@{
    ViewData["Title"] = "GroupPriviligeIndex";
}

<h1>GroupPriviligeIndex</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - CFY Exam</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/lib/Login1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/lib/Login1/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <h2>Relate Groups with Priviliges</h2>
                <div style="border:solid">
                    <!-- @using (Html.BeginForm("CreateGroupPrivilige", "GroupPrivilige", FormMethod.Post))
        {
            <b>Select User Group</b>
            <table>


                <tr>
                 <td>@Html.CheckBox("This is the text", true)</td>
                </tr>


                <b>Select Priviliges</b>

                foreach (var h in ViewBag.Priviliges)
                {

                <tr>
                    <td>@Html.CheckBox("This is the text in privilige", false)</td>
                </tr>
                }
            </table>
        }


        } -->
    </div>  
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> I have a car</label><br>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> I have a boat</label><br>

                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/animsition/js/animsition.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/bootstrap/js/popper.js"></script>
                    <script src="~/lib/Login1/vendor/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/select2/select2.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/daterangepicker/moment.min.js"></script>
                    <script src="~/lib/Login1/vendor/daterangepicker/daterangepicker.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/countdowntime/countdowntime.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/js/main.js"></script>
                </div>
        </div>
    </div>
</body>
</html>

