﻿
@using CFY_Exam;
@model CFY_Exam.Models.UserGroup;

@{
    ViewData["Title"] = "GroupIndex";
}

<h1>GroupIndex</h1>

<!DOCTYPE html>
<html lang="en">
<head>
   
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                <h2>Create User Groups</h2>
                <div style="border:solid">
                    @using (Html.BeginForm("CreateUserGroup", "UserGroup", FormMethod.Post))
                    {
                        <b>Enter Group Code </b>@Html.TextBoxFor(m => m.UserGroupCode) <br />
                        <b>Enter Group Name </b>@Html.TextBoxFor(m => m.GroupName) <br />
                        <b>Select Status of the Group </b> @Html.DropDownListFor(m => m.Status, new List<SelectListItem> { new SelectListItem { Text = "Active", Value = "1", Selected = true }, new SelectListItem { Text = "Inactive", Value = "2" } }, "Select Group Status") <br />
                        <input type="submit" value="Create User Group" />
                    }
                </div>
                <h2>Update User Groups</h2>
                <div style="border:solid">
                    @using (Html.BeginForm("CreateUserGroup", "UserGroup", FormMethod.Post))
                    {
                        <b>Enter Group Code </b>@Html.TextBoxFor(m => m.UserGroupCode) <br />
                        <b>Enter Group Name </b>@Html.TextBoxFor(m => m.GroupName) <br />
                        <b>Select Status of the Group </b> @Html.DropDownListFor(m => m.Status, new List<SelectListItem> { new SelectListItem { Text = "Active", Value = "1", Selected = true }, new SelectListItem { Text = "Inactive", Value = "2" } }, "Select Group Status") <br />
                        <input type="submit" value="Create User Group" />
                    }
                </div>





                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/animsition/js/animsition.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/bootstrap/js/popper.js"></script>
                    <script src="~/lib/Login1/vendor/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/select2/select2.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/daterangepicker/moment.min.js"></script>
                    <script src="~/lib/Login1/vendor/daterangepicker/daterangepicker.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/vendor/countdowntime/countdowntime.js"></script>
                    <!--===============================================================================================-->
                    <script src="~/lib/Login1/js/main.js"></script>
                </div>
            </div>
    </div>
</body>
</html>