﻿@using CFY_Exam;
@model CFY_Exam.Models.Privilege;
@{
    ViewData["Title"] = "PriviligeIndex";
}

<h1>PriviligeIndex</h1>
<!DOCTYPE html>
<html lang="en">
<head>
   
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <h2>Create Priviliges</h2>
                <div style="border:solid">
                    @using (Html.BeginForm("CreatePrivilige", "Privilige", FormMethod.Post))
                    {
                        <b>Enter Privilige Code </b>@Html.TextBoxFor(m => m.PriviligeCode) <br />
                        <b>Enter Privilige Name </b>@Html.TextBoxFor(m => m.PriviligeName) <br />
                        <b>Enter Privilige Type </b>@Html.TextBoxFor(m => m.PriviligeType) <br />
                        <b>Select Status of the Privilige </b>@Html.DropDownListFor(m =>m.Status, new List<SelectListItem> { new SelectListItem { Text = "Active", Value = "1", Selected = true }, new SelectListItem { Text = "Inactive", Value = "2" } }, "Select Privilige Status") <br />
                        <input type="submit" value="Create Privilige" />
                    }
                </div>

                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/jquery/jquery-3.2.1.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/animsition/js/animsition.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/bootstrap/js/popper.js"></script>
                <script src="~/lib/Login1/vendor/bootstrap/js/bootstrap.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/select2/select2.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/daterangepicker/moment.min.js"></script>
                <script src="~/lib/Login1/vendor/daterangepicker/daterangepicker.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/vendor/countdowntime/countdowntime.js"></script>
                <!--===============================================================================================-->
                <script src="~/lib/Login1/js/main.js"></script>
            </div>
        </div>
    </div>
</body>
</html>


