﻿@model CFY_Exam.Models.Privilege

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Privilege</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriviligeCode" class="control-label"></label>
                <input asp-for="PriviligeCode" class="form-control" />
                <span asp-validation-for="PriviligeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriviligeName" class="control-label"></label>
                <input asp-for="PriviligeName" class="form-control" />
                <span asp-validation-for="PriviligeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriviligeType" class="control-label"></label>
                <input asp-for="PriviligeType" class="form-control" />
                <span asp-validation-for="PriviligeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstUserName" class="control-label"></label>
                <input asp-for="FirstUserName" class="form-control" />
                <span asp-validation-for="FirstUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstTimeStamp" class="control-label"></label>
                <input asp-for="FirstTimeStamp" class="form-control" />
                <span asp-validation-for="FirstTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUserName" class="control-label"></label>
                <input asp-for="LastUserName" class="form-control" />
                <span asp-validation-for="LastUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastTimeStamp" class="control-label"></label>
                <input asp-for="LastTimeStamp" class="form-control" />
                <span asp-validation-for="LastTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
