﻿@model CFY_Exam.Models.Privilege

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Privilege</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriviligeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriviligeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriviligeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriviligeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriviligeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriviligeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastTimeStamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PriviligesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
