﻿@model CFY_Exam.Models.Privilege

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Privilege</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriviligeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriviligeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriviligeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriviligeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriviligeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriviligeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastTimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PriviligesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
