﻿@model IEnumerable<CFY_Exam.Models.Privilege>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriviligeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriviligeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriviligeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriviligeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriviligeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriviligeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTimeStamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PriviligesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PriviligesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PriviligesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
