﻿@model CFY_Exam.Models.AcademicYear
@using CFY_Exam.Controllers.Public 
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AcademicYear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcademicYearId" />
            <div class="form-group">
                <label asp-for="AcademicYearName" class="control-label"></label>
                <input asp-for="AcademicYearName" class="form-control" />
                <span asp-validation-for="AcademicYearName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @*<input asp-for="Status" class="form-control" />*@
                <select asp-items="Html.GetEnumSelectList<Enums.GeneralStatus>()" asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;" >
                <label asp-for="FirstUserName" class="control-label"></label>
                <input asp-for="FirstUserName" class="form-control" />
                <span asp-validation-for="FirstUserName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="FirstTimeStamp" class="control-label"></label>
                <input asp-for="FirstTimeStamp" class="form-control" />
                <span asp-validation-for="FirstTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="LastUserName" class="control-label"></label>
                <input asp-for="LastUserName" class="form-control" />
                <span asp-validation-for="LastUserName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="LastTimeStamp" class="control-label"></label>
                <input asp-for="LastTimeStamp" class="form-control" />
                <span asp-validation-for="LastTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
