﻿@model IEnumerable<CFY_Exam.Models.AcademicYear>
@using CFY_Exam.Controllers.Public
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcademicYearName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYearName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @{
                    string Status = Enum.GetName(typeof(Enums.GeneralStatus), item.Status);
                }
                @Html.DisplayFor(modelItem => Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTimeStamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AcademicYearId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AcademicYearId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AcademicYearId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
